### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

In [2]:
total_players = purchase_data_df["SN"].nunique()

total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items=purchase_data_df["Item Name"].nunique()

unique_items

179

In [4]:
average_price=purchase_data_df["Price"].mean()

average_price

3.050987179487176

In [5]:
number_purchases=purchase_data_df["Purchase ID"].count()

number_purchases

780

In [6]:
total_revenue=purchase_data_df["Price"].sum()

total_revenue

2379.77

In [7]:
purchasing_summary_df=pd.DataFrame({"Number of Unique Items": [unique_items],
                        "Average Price": [average_price],
                        "Number of Purchases": [number_purchases],
                        "Total Revenue": [total_revenue]})

purchasing_summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
unique_sn_df=purchase_data_df.drop_duplicates(subset="SN", keep='first', inplace=False)

gender_count=unique_sn_df["Gender"].value_counts()

gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [9]:
gender_percentage=(gender_count/total_players)*100
gender_percentage

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [10]:
gender_demos_df = pd.DataFrame({"Gender Count": gender_count,"Gender Percentage":gender_percentage})
gender_demos_df

                       Gender Count  Gender Percentage
Male                            484          84.027778
Female                           81          14.062500
Other / Non-Disclosed            11           1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
purchase_count=purchase_data_df["Gender"].value_counts()

purchase_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [12]:
avg_purch_price=purchase_data_df.groupby("Gender").mean()["Price"]

avg_purch_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [13]:
total_purch_value=purchase_data_df.groupby("Gender").sum()["Price"]

total_purch_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
totalPP=purchase_data_df.groupby(["SN","Gender"])
totalPP.sum().groupby("Gender").mean()["Price"]

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64

In [15]:
gender_analysis_df = pd.DataFrame({"Purchase Count":purchase_count, 
                                   "Average Purchase Price":avg_purch_price,
                                   "Total Purchase Value":total_purch_value})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics 

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
print(unique_sn_df["Age"].max())
print(unique_sn_df["Age"].min())

45
7

In [17]:
bins=[0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 45]
bin_names=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

agedBins= pd.cut(unique_sn_df["Age"],bins, labels=bin_names)

purchase_data_df["binAge"] = pd.cut(purchase_data_df["Age"],bins, labels=bin_names)

agedBinCount = agedBins.value_counts()

pd.DataFrame({"Total Count":agedBinCount,"Percentage of Players":agedBinCount/total_players * 100})

       Total Count  Percentage of Players
20-24          258              44.791667
15-19          107              18.576389
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
10-14           22               3.819444
<10             17               2.951389
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
purchase_data_df["binAge"]=pd.cut(purchase_data_df["Age"], bins, labels=bin_names)

In [19]:
ageCount = purchase_data_df["binAge"].value_counts()

ageCount

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: binAge, dtype: int64

In [20]:
avgByAgePrice = purchase_data_df.groupby("binAge").mean()["Price"]

avgByAgePrice

binAge
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [21]:
totalAgePrice = purchase_data_df.groupby("binAge").sum()["Price"]

totalAgePrice

binAge
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [22]:
avgTotalPp = purchase_data_df.groupby(["SN","binAge"]).sum().groupby("binAge").mean()["Price"]

avgTotalPp

binAge
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
Name: Price, dtype: float64

In [23]:
age_sum_df = pd.DataFrame({"Purchase Count":ageCount,
                            "Average Purchase Price":avgByAgePrice,
                            "Total Purchase Value": totalAgePrice,
                            "Avg Total Purchase per Person": avgTotalPp})
age_sum_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
purchase_counts=purchase_data_df["SN"].value_counts()
purchase_counts.head(5)

Lisosia93      5
Iral74         4
Idastidru52    4
Phyali88       3
Chamjask73     3
Name: SN, dtype: int64

In [25]:
grouped_users_df=purchase_data_df.groupby(['SN'])

avg_purchprice=grouped_users_df["Price"].mean()

In [26]:
total_purchprice=grouped_users_df["Price"].sum()

In [27]:
user_summary_df=pd.DataFrame({"Purchase Count":purchase_counts,
                             "Average Purchase Price":avg_purchprice,
                             "Total Purchase Value":total_purchprice})
user_summary_df.sort_values("Total Purchase Value",ascending=False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
pop_items_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
pop_items_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [29]:
popi_purchase_count = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"]
popi_avg_price = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"]
popi_pvalue = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"]


popular_items_df = pd.DataFrame({"Purchase Count":popi_purchase_count,
                                   "Item Price":popi_avg_price,
                                   "Total Purchase Value":popi_pvalue})

popular_items_df.sort_values("Purchase Count",ascending=False).head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
103,Singed Scalpel,8,4.35,34.80
75,Brutality Ivory Warmace,8,2.42,19.36
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
59,"Lightning, Etcher of the King",8,4.23,33.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [30]:
totalpurch_sort_df = popular_items_df.sort_values("Total Purchase Value", ascending=False)
totalpurch_sort_df.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32